/* FOOTER FLEX LAYOUT */
footer{
    height: 200px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--black_hard);
}

.footer-flex-row-1{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-self: center;
    justify-content: space-between;
}

.footer-flex-row-2{
    width: 80%;
    background-color: var(--white_light);
    height: 1%;
    opacity: 0.2;
    align-self: center;
    justify-content: space-between;
}

.footer-flex-row-3{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-self: center;
    justify-content: space-between;
}

/* -------------- */

.footer-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    align-items: center;
}

.footer-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--white_hard);
}

.footer-title::after{
    color: var(--brown);
    content: ".";
}

.footer-buttons-item{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--white_hard);
    justify-self: center;
    opacity: 0.5;
}