@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--white_hard);
}

a, a:link, a:visited, a:active, a:hover{
    text-decoration: none;
}

/* HEADER FLEX LAYOUT*/

header{
    height: 800px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    transition: background-image 0.3s ease-in-out;
}

.header-flex-row-1{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-self: center;
    justify-content: space-between;
}

.header-flex-row-2{
    width: 80%;
    align-self: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
}

.header-flex-row-3{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-self: center;
    justify-content: end;
    gap: 10px;
    margin-bottom: 30px;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h1 a{
    color: var(--white_hard);
}

h1::after{
    color: var(--brown);
    content: ".";
}

/* -------------- */

/* NAVBAR FLEX LAYOUT */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
    align-items: center;
}

.nav-item{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--white_hard);
    justify-self: center;
    opacity: 0.5;
}

.nav-item:hover{
    opacity: 1;
    border-bottom: 3px solid var(--brown);
    border-radius: 1px;
    cursor: pointer;
}

.nav-dropdown-item::after{
    display: inline-block;
    content: url("assets/dropdown.svg");
    margin-left: 5px;
}

.nav-dropdown{
    position: absolute;
    opacity: 1;
    display: none;
    flex-direction: column;
    background-color: var(--black_hard);
    border-radius: 7px;
    padding: 10px 20px;
}

.nav-dropdown-item:hover{
    border: none;
}

.nav-dropdown-item:hover .nav-dropdown{
    display: flex;
}

.nav-dropdown a{
    color: var(--white_hard);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    opacity: 0.6;
    height: 100%;
    padding: 10px 0;
}

.nav-dropdown a:hover{
    opacity: 1;
}

.nav-divider{
    height: 50%;
    opacity: 0.5;
    border: 1px solid var(--white_light);
    border-radius: 1rem;
}

.nav-search{
    display: flex;
}

.nav-search label{

}


.nav-search-input{
    width: 0;
    border: none;
    background-color: var(--white_hard);
    opacity: 0.5;
    border-radius: 5px;
    outline: none;
    color: var(--black_hard);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: all 1s ease-in-out;
}

.nav-search:hover .nav-search-input{
    padding: 5%;
    width: 100px;
}

/* -------------- */

/* HEADER MAIN LAYOUT */

header time{
    grid-column: 1;
    color: var(--white_light);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h2{
    color: var(--white_hard);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 20px;
    grid-column: 1;
}

.subtitle{
    color: var(--white_light);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    grid-column: 1;
}

/* -------------- */

/* SLIDER LAYOUT */

.slider-index{
    color: var(--white_light);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
}

.slider-line{
    width: 100px;
    height: 5px;
    background-color: var(--black_light);
    /*background-image: linear-gradient(rgba(255, 255, 0), rgba(0, 0, 255), );*/
    border-radius: 1rem;
    align-self: center;
}

#header-slider-line{
    background-color: var(--white_light);
    width: 100%;
}

/* -------------- */

/* MEDIA QUERIES */

@media screen and (min-width: 1000px) {
    header{
        height: 700px;
    }
}