/* MAIN LAYOUT */

main{
    width: 100%;
}

.main-card-box{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.main-card-filter{
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--black_light);
    font-size: 0.8rem;
    margin-bottom: 44px;
}

.column-selector{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12%;
}

/* -------------- */

/* CARDS LAYOUT */

#cards-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 80%;
    align-self: center;
    justify-content: space-between;
    grid-gap: 60px;
}

.card-frame{
    display: flex;
    flex-direction: column;
}

.card-img{
    height: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-size: cover;
}

.card-category{
    margin: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 0.7rem;
    color: var(--white_hard);
    text-transform: uppercase;
    border-radius: 3px;
    width: fit-content;
    padding: 1%;
    height: fit-content;
    background-image: linear-gradient(rgba(33, 37, 41, 0.3), rgba(33, 37, 41, 0.3));
}

.card-date{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--black_light);
    font-size: 0.9rem;
    margin-top: 30px;
    margin-bottom: 15px;
}

.card-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--black_hard);
    font-size: 1.8rem;
    line-height: 2rem;
}

.card-description{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--black_light);
    font-size: 0.9rem;
    margin: 15px 0 15px 0;
    /*margin-bottom: 15px;*/
}

.card-user{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--black_light);
    font-size: 0.9rem;
    border-top: 1px solid var(--white_light);
    padding-top: 15px;
}

/* -------------- */