@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.nav-item:hover{
    opacity: 1;
    border-bottom: 3px solid var(--brown);
    border-radius: 1px;
    cursor: pointer;
    transform: scale3d(100%, 0, 0);
}

.nav-dropdown-item:hover{
    border: none;
    cursor: auto;
}

.nav-dropdown-item:hover .nav-dropdown{
    display: flex;
    height: 180px;
    padding:10px 20px;
}

.nav-dropdown a{
    color: var(--white_hard);
    font-family: Poppins, sans-serif;
    font-weight: 500;
    opacity: 0.6;
    height: 100%;
    padding: 10px 0;
}

.nav-dropdown a:hover{
    opacity: 1;
}

.nav-item-label{
    cursor: pointer;
}

.nav-item:has(> input:checked):has(> label[class="nav-item-label"]) {
    opacity: 1;
    border-bottom: 3px solid var(--brown);
    border-radius: 1px;
}

.nav-search:hover .nav-search-input{
    padding: 5%;
    width: 100px;
}

@keyframes header-texts {
    from {left: -100%;}
    to {left: 0;}
}

@keyframes navbar {
    from {left: 100%;}
    to {left: 0;}
}