.column-selector-label{
    opacity: 0.5;
    padding: 10px;
}

.column-selector-label:hover{
    cursor: pointer;
}

.radio-button:checked ~ .column-selector-label{
    opacity: 1;
}

.card-frame:hover{
    cursor: pointer;
}

.card-frame:hover .card-title{
    color: #CCD5AE;
}

#more-cards:hover{
    cursor: pointer;
}

.topics-card-details{
    width: 70%;
}