/* MOBILE NAVBAR LAYOUT */

#mobile-grid-item-navbar{
    grid-row: 1;
    grid-column: 2;
    display: none;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: relative;
    justify-content: end;
}

.mobile-nav-selector{
    display: flex;
    position: absolute;
    z-index: 2;
    flex-direction: column;
    height: 60%;
    width: 100%;
    justify-content: space-evenly;
}

.mobile-nav-selector div{
    align-self: end;
    margin-right: 10px;
    height: 2px;
    background-color: var(--white_light);
    border-radius: 2px;
    width: 40%;
    transition: all 0.3s ease-in-out;
}

.mobile-nav-selector input{
    opacity: 0;
    position: absolute;
    align-self: end;
    width: 40%;
    height: 32px;
}

#mobile-nav-selector-input:checked ~ div{
    background-color: var(--brown);
}

#mobile-grid-items{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-evenly;
    background-color: var(--black_hard);
    border-radius: 5px;
    padding: 60px 30px;
    z-index: 1;
    right: -300%;
    transition: all 0.5s ease-in-out;
}

/* -------------- */